.content {
  margin-left: 312px;
}
.content__tabBar {
  background-color: #fafafa;
  border-bottom: 1px solid #e6e6e6;
  height: 55px;
}
.content__tabBarRow {
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 55px;
}

.content__tabBarOptionsWrapper {
  margin: 10px;
}
.content__tabBarSelect {
  width: 60%;
  border-radius: 5px;
  border: none;
  padding: 8px;
  color: #6e6e6e;
  background-color: #ececec;
}
.content__button {
  background-color: #ececec;
  border: none;
  padding: 10px;
  margin-left: 10px;
  cursor: pointer;
}
.content__tabsRow > div {
  display: inline-block;
}
#content__tabBarTabs {
  align-self: end;
}
.content__requestTab:first-child {
  margin-left: 10px;
}
.content__requestTab {
  background-color: #fafafa;
  margin-left: 2px;
  margin-bottom: 1px;
  width: 30%;
  font-size: 12px;
  height: 25px;
  border: 1px solid #e6e6e6;
  border-bottom: 0px;
  color: #6e6e6e;
  padding-top: 8px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  cursor: pointer;
}
.content__requestTab.active {
  background-color: #fff;
  border-top: 2px solid #f76a3f;
  border-bottom: 1px solid #fff;
}

.content__requestType {
  font-size: 8px;
  margin-left: 8px;
  margin-right: 8px;
  color: #ffb22d;
  font-weight: bold;
  margin-top: 8px;
}
.content__requestTabCloseIcon {
  float: right;
  margin-right: 10px;
  margin-top: 3px;
  cursor: pointer;
}
#content__requestTabAddTab {
  width: 3%;
  padding-left: 10px;
}

.content__requestDetailsRow {
  display: grid;
  grid-template-columns: 70% 30%;
  color: #666666;
  padding-bottom: 10px;
  border-bottom: 1px solid #e6e6e6;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
}
.content__requestDetailsName {
  font-size: 13px;
  font-weight: 400;
  margin-left: 10px;
}
.content__requestBadge {
  background-color: #e6e6e6;
  padding: 4px;
  margin-left: 5px;
  border-radius: 2px;
  margin-right: 20px;
  color: #6e6e6e;
}
.content__requestInputFieldWrapper {
  display: inline-block;
  padding: 10px;
}
.content__requestInputRow {
  margin: 10px;
}
.content__requestInputRow select {
  background-color: #ececec;
  border: 1px solid #d4d4d4;
  padding: 10px;
  padding-right: 50px;
}
.content__requestInputRow input {
  color: #5e5e5e;
  border-radius: 0px;
  border: 1px solid #d4d4d4;
  background-color: #ececec;
  padding: 11px;
  width: 60%;
  border-left: none;
}
.content__requestInputRow {
  display: grid;
  grid-template-columns: 100%;
}
.content__requestSendButton {
  background-color: #0080e8;
  color: #fff;
  border: none;
  padding: 12px;
  margin-left: 10px;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 30px;
  cursor: pointer;
}
.content__requestSaveButton {
  background-color: #e6e6e6;
  color: #555555;
  border: none;
  padding: 12px;
  margin-left: 10px;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 30px;
  cursor: pointer;
}
.content__requestSendButtonIcon {
  margin-left: 10px;
}
.content__requestOptionsMenuWrapper {
  display: inline-block;
  margin-top: 10px;
  font-size: 13px;
  color: #6e6e6e;
}
.content__requestOptionMenuItem {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 8px;
  margin-left: 8px;
  margin-right: 8px;
  cursor: pointer;
}
.content__requestOptionMenuItem.active {
  border-bottom: 3px solid #f76a3f;
  color: #000;
}
.content__requestTabsMenuRow {
  display: grid;
  grid-template-columns: 85% 15%;
}
.content__orangeSmallText {
  color: #f76a3f;
  font-size: 13px;
  margin-right: 20px;
  cursor: pointer;
}
#content__rightContent {
  margin-top: 10px;
}
.content__requestOptionsContainer {
  /* margin: 20px; */
}
.content__smallText {
  font-size: 13px;
  color: #6e6e6e;
  margin: 20px;
  margin-bottom: 10px;
}
.content__paramsTableRow {
  display: grid;
  grid-template-columns: 3% 30% 30% 35%;
}
.content__paramsTableColumn {
  border: 1px solid #eaeaea;
  border-right: none;
  border-bottom: none;
  font-size: 12px;
  color: #555555;
  padding: 5px;
  font-weight: 450;
}
.content__paramsTableRow:last-child {
  border-right: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
}
.content__tableInput {
  border-radius: 0px;
  border: 1px solid #eaeaea;
  font-size: 12px;
  color: #555555;
  padding: 5px;
  width: 95%;
}
.content__responseContainer {
  position: fixed;
  overflow-y: auto;
  bottom: 0;
  left: 300;
  width: 80%;
  height: 200px;
  padding: 10px;
  border-top: 1px solid #d4d4d4;
}
#responseTitle {
  font-size: 15px;
  margin: 5;
}
.content__responeMenu {
  font-size: 13px;
}
.content__responseMenuOption {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  color: #555555;
  cursor: pointer;
}
.content__responseMenuOption.active {
  border-bottom: 2px solid #f76a3f;
  color: #000;
}
.content__responseMenuRow {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.content__greenText {
  color: #35ab6b;
}
#saveResponseButton {
  color: #f76a3f;
}
.content__JSONViewer {
}
